
// Raw Color Definitions - Name with https://colornamer.robertcooper.me/ 

$color-whiteout: #FBFBFB;
$color-trapped-darkness: #091B2A;
$color-hopi-blue-corn: #184872;
$color-fly-a-kite: #C4DCF4;
$color-amalfi-coast: #287BC3;


// Key Color Usage Definitions
$color-primary: $color-hopi-blue-corn;
$color-background: $color-whiteout;
$color-secondary: $color-fly-a-kite;
$color-accent: $color-amalfi-coast;

